{{#if isLoggedIn}}
<section class="actions">
            <form action="">
                <h2>Salary time? Refill your account amount.</h2>
                <input type="text" id="refill-amount">
                <button type="submit">Refill</button>
            </form>
            <div>
                <h2>New expense comming up?</h2>
                <a href="#">Add it now</a>
            </div>
        </section>

        <hr class="separator">

        <table class="expenses">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Merchant</th>
                    <th>Amount</th>
                    <th>Category</th>
                    <th>Description</th>
                </tr>

            </thead>
            <tbody>
                <tr>
                    <td>
                        <img src="static/images/date.png" />
                        <p>October 25</p>
                    </td>
                    <td>
                        <p>Shoes</p>
                        <div class="report">
                            <a href="#">Report</a>
                        </div>
                    </td>
                    <td>
                        <img src="static/images/amount.png" alt="">
                        <p>лв 123.00</p>
                    </td>
                    <td>
                        <img src="static/images/category.png" alt="">
                        <p>Other</p>
                    </td>
                    <td>
                        <img src="static/images/hastag.png" alt="">
                        <p>I fucked up...</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="static/images/date.png" />
                        <p>October 26</p>
                    </td>
                    <td>
                        <p>Car supplies</p>
                        <div class="report">
                            <a href="#">Report</a>
                        </div>
                    </td>
                    <td>
                        <img src="static/images/amount.png" alt="">
                        <p>лв <span>123.00</span></p>
                    </td>
                    <td>
                        <img src="static/images/category.png" alt="">
                        <p>Car</p>
                    </td>
                    <td>
                        <img src="static/images/hastag.png" alt="">
                        <p>Regular car stuff....</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="static/images/date.png" />
                        <p>October 25</p>
                    </td>
                    <td>
                        <p>Shoes</p>
                    </td>
                    <td>
                        <img src="static/images/amount.png" alt="">
                        <p>лв 123.00</p>
                    </td>
                    <td>
                        <img src="static/images/category.png" alt="">
                        <p>Other</p>
                    </td>
                    <td>
                        <img src="static/images/hastag.png" alt="">
                        <p>Gift to my girl...</p>
                    </td>
                </tr>

            </tbody>
        </table>
		
		
{{else}}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Video Tutorials</h1>
        <p class="lead">Start Self-Study Today: It'll Change Your Life</p>
    </div>
</div>
{{/if}}

{{#if expenses}}
<div class="container mt-3">
    <div class="row ">
        <div class="card-deck d-flex justify-content-center">
            {{#each expense}}
            {{> course}}
            {{/each}}
        </div>
    </div>
</div>
{{else}}
<h1 class="no-expenses">No expenses founded so far.. <span>GOOD JOB!</span></h1>
{{/if}}